footer {
  color: #fff; }
  footer .container {
    padding: 0px; }
  footer .structure_footer_name_zeal {
    padding-top: 103px;
    padding-bottom: 50px; }
  footer .structure_footer_title_news {
    padding-top: 31px;
    color: #9797b8; }
  footer .structure_footer_title_zeal {
    padding-top: 6px;
    padding-bottom: 10px;
    color: #d0d0f0; }
  footer .structure_summary_news {
    color: #d0d0f0; }
  footer .structure_footer_more {
    padding-top: 11px;
    color: #9797b8;
    padding-bottom: 100px; }
    footer .structure_footer_more a {
      color: #9797b8;
      text-decoration: none; }
  footer .fa-long-arrow-right {
    padding-left: 10px; }
  footer .structure_footer_menu {
    padding-top: 15px;
    padding-left: 0px; }
    footer .structure_footer_menu li {
      padding-bottom: 11px;
      list-style: none; }
      footer .structure_footer_menu li a {
        color: #d0d0f0;
        text-decoration: none; }
  footer .structure_footer {
    padding-left: 100px;
    padding-right: 0px; }

@media screen and (max-width: 991px) {
  footer .structure_footer_more {
    padding-bottom: 50px; }

  footer .container {
    padding-left: 25px;
    padding-right: 25px; }

  footer .structure_footer {
    padding-left: 0px; } }
.style_title_city {
  letter-spacing: 1.3px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700; }

.style_address_city {
  letter-spacing: 0.3px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  word-spacing: 0.5px; }

.style_address_mail {
  letter-spacing: 0.4px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
  word-spacing: 0.5px; }

.style_name_zeal {
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  letter-spacing: 2px;
  font-weight: 500; }

.style_title_news {
  letter-spacing: 1.2px;
  font-size: 12px;
  font-family: 'Raleway', sans-serif; }

.style_title_zeal {
  letter-spacing: 1.06px;
  font-size: 21px;
  font-family: 'Raleway', sans-serif; }

.style_summary_news {
  font-size: 17px;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.48px;
  line-height: 1.53; }

@media screen and (max-width: 991px) {
  .style_summary_news {
    font-size: 14px; } }
header {
  height: 425px;
  background: #216687; }

.cuerpo {
  height: 850px;
  background: #12c43c; }

.mapa {
  height: 400px;
  background: #f7f393; }

footer {
  background: #23232d; }

.address_zeal_city {
  background: #f7f7f7; }

.structure_section_address {
  padding-top: 115px; }
  .structure_section_address .container {
    padding: 0px; }
  .structure_section_address .structure_title_city {
    color: #b8b8c0;
    margin: 0px; }
  .structure_section_address .structure_title_zeal {
    margin: 0px;
    font-weight: 500;
    line-height: 1;
    padding-bottom: 43px; }
  .structure_section_address .structure_address_city {
    word-wrap: break-word;
    width: 240px;
    margin: 0px;
    padding-bottom: 13px; }
  .structure_section_address .structure_address_mail {
    color: #5a5a8c;
    text-decoration: underline;
    padding-bottom: 85px; }

@media screen and (max-width: 991px) {
  .address_zeal_city .container {
    padding-left: 25px;
    padding-right: 25px; } }

/*# sourceMappingURL=style.css.map */
