header{
  
  .structure_banner_h2{
    padding-top:65px;
    padding-bottom:33px;
    color:#5a5a8c;
  }
  
  .structure_banner_description_h2{
    width:730px;
    word-wrap:break-word;
    line-height:1.57;
    padding-bottom:73px;
  }
  
  
}













.header_background_contact_us{
  background:#f7f7f7;
}
















.collapse ul li a {
	padding-top: 40px;	

	font-size: 1em;
}

.collapse ul li a:hover {
    background: rgba(0, 0, 0, 0.2);
    text-decoration: none;
    color: #fff;
}

.navbar-collapse {
  	width: 100%;
  	text-align: center;
  	color: white; }

 .navbar-collapse .nav li a {
   	color: white; 
}

.box-shadow-menu {
  	position: relative;
  	margin-top:20px;
  	padding: 15px 18px;
  	border: 2px solid #333;
  	background: transparent; 
 }

.box-shadow-menu:before {
    content: "";
    position: absolute;
    margin: 1px 3px 3px 3px;
    left: 3px;
    top: 10px;
    width: 1.5em;
    height: 0.15em;
    background: #fff;
    box-shadow: 0 0.25em 0 0 #fff, 0 0.5em 0 0 #fff;
}

@media (min-width: 768px) {
    .box-shadow-menu {
    display: none; } }

@media (max-width: 768px) {
    .right {
    display: none; } }


.slide {
  padding-top: 20px;
}




.bajas {

    font-weight: 300;
  }

button {



  padding:5px 10px;
}

button:hover {

}

.text {
  margin-top: 100px;
}

.quality {
    margin-top:120px;
}

h5 {
  font-weight: 700;

}

.info {
  padding-top: 30px;
  font-size: 1.5em;

}

.info-l {
  padding-top: 30px;
  font-size: 1.2em;

}

a {

}


