

header{
    height:425px;
    background:#216687;
}

.cuerpo{
    height:850px;
    background:#12c43c;
}

.mapa{
    height:400px;
    background:#f7f393;
}

.direcciones{
    height:400px;
    background:#c24e21;
}