.footer-center{
    font-family: 'Raleway', sans-serif;
    font-size: 21px; 
}

.color1{
    background:#9696e5;
    height:100px;
}


.color2{
    background:#c1e596;
    height:100px;
}

.espacio{
    padding-top:35px;
}