.style_name_zeal{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    letter-spacing:2px;
    font-weight:500;
}

.style_title_news{
    letter-spacing:1.2px;
    font-size:12px;
    font-family: 'Raleway', sans-serif;
}

.style_title_zeal{
    letter-spacing:1.06px;
    font-size:21px;
    font-family: 'Raleway', sans-serif;
}

.style_summary_news{
   font-size:17px;
    font-family: 'Raleway', sans-serif;
    letter-spacing:0.48px;
    line-height:1.53;
}

.color2{
    background:#d5f5ee;
}


.colo3{
    background:#a7e49c;
}

.colo4{
    background:#ddcb65;
}

.colo5{
    background:#d3ad65;
}

.colo6{
    background:#b89d97;
}